<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.seu.dao.CountryDataDAO">
    <insert id="insert" useGeneratedKeys="true"  keyProperty="id" parameterType="edu.seu.model.CountryData">
        insert into countrydata(country_eng,country,WBCode,year,political_risk,economic_risk,social_risk,average_risk,risk_level)
        values (#{countryEng},#{country},#{WBcode},#{year},#{politicalRisk},#{economicRisk},#{socialRisk},#{averageRisk},#{riskLevel});
    </insert>
    <update id="update">
        update countrydata set
        <trim suffixOverrides=",">
            <if test="countryEng!=null">
                country_eng = #{countryEng}
            </if>
            <if test="countryData!=null">
                country = #{country}
            </if>
            <if test="WBCode!=null">
                WBCode = #{WBCode}
            </if>
            <if test="year!=null">
                year = #{year}
            </if>
            <if test="politicalRisk!=null">
                political_risk = #{politicalRisk}
            </if>
            <if test="economicRisk!=null">
                economic_risk = #{economicRisk}
            </if>
            <if test="socialRisk!=null">
                social_risk = #{socialRisk}
            </if>
            <if test="averageRisk!=null">
                average_risk = #{averageRisk}
            </if>
            <if test="riskLevel!=null">
                risk_level = #{riskLevel}
            </if>
        </trim>
    </update>
</mapper>